---
import IndexLayout from '@/layouts/IndexLayout.astro'
import { projects } from '@/data/projects.ts'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

const posts = await getSortedFilteredPosts()
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <main>
    <div>
      {projects.map((project) => (
      <h2>{project.title}</h2>
      <p>{project.description}</p>
      <p>{project.link}</p>
      <p>{project.details}</p>
      ))}
    </div>
  </main>
</IndexLayout>
