---
import PortfolioLayout from '@/components/layout/PortfolioLayout.astro'
import { projects } from '@/data/projects.ts'
import { themeConfig } from '@/config'

---

<PortfolioLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <!-- projects row container -->
  <div class="flex flex-wrap gap-4">
    <!-- projects div -->
    <div class="flex-1 min-w-80 border rounded-lg p-6 shadow-sm">
      {projects.map((project) => (
        <h2>{project.title}</h2>
        <p>{project.description}</p>
        <p>{project.link}</p>
        <p>{project.details}</p>
      ))}
    </div>
  </div>
</PortfolioLayout>
